@font-face {
  font-family: 'SF UI Display';
  src: url('/assets/fonts/SFUIDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('/assets/fonts/SFUIDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('/assets/fonts/SFUIDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --gray600: #32312F;
  --gray500: #464646;
  --gray400: #656565;
  --gray300: #A1A5AD;
  --gray200: #E6E6E6;
  --gray100: #F6F6F6;
  --gray0: #FFFFFF;

  --orange200: #FF5C00;

  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  margin: 0;
  font-family: SF UI Display, sans-serif;
  background: var(--gray0);
  color: var(--gray600);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  margin-block: 100px;
}

.product-card {
  width: 508px;
  background: var(--gray100);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.product-card {
  transition: background 0.1s ease, box-shadow 0.3s ease;
}

.product-card__content {
  margin-top: 6px;
  padding-inline: 20px;
  padding-block: 14px;
  display: flex;
  flex-direction: column;
}

.product-card__art,
.modifications__title,
.price__title,
.price__description {
  color: var(--gray400);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
}

.product-card__title {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 120%;
  color: var(--gray600);
  margin-top: 3px;
}

.product-card__description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 61px;
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--gray0);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  z-index: 3;
}

.modifications {
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modifications__btn {
  border-radius: 18px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  background: var(--gray100);
  transition: background 0.2s ease;
}

.modifications__btn-active {
  background: var(--gray600);
  color: var(--gray0);
}

.modifications__icon-wrapper {
  background: var(--gray0);
  border-radius: 50%;
  padding: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  transition: background-color 0.2s ease;
}

.modifications__btn-icon {
  width: 14px;
  height: 14px;
  color: var(--gray0);
}

.modifications__list {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.price__container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.price__item {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.price__value {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 120%;
  color: var(--gray600);
}

.price__description-accent {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--gray600);
}

.product-card__bottom {
  border-top: 1px solid var(--gray200);
  margin-top: 20px;
  padding-top: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-card__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.likes__value {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--gray600);
}

.likes__btn {
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background: var(--gray100);
  border-radius: 18px;
  padding: 6px 12px;
  transition: background 0.3s ease;
}

.likes__icon {
  color: var(--gray300);
}

.likes,
.btn__calculation{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.btn__calculation {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--gray400);
}

.product-card__slider {
  position: relative;
  width: 100%;
  height: 338px;
}

.product-card__slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-36%);
  transition: background 0.2s ease;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.slider-btn--prev {
  left: 15px;
}

.slider-btn--next {
  right: 15px;
}

.slider-btn--zoom {
  top: 10px;
  right: 10px;
  transform: none;
  border-radius: 8px;
  padding-inline: 4px;
  padding-block: 5px;
  width: 32px;
  height: 34px;
}

.slider-pagination {
  display: flex;
  padding: 10px 20px 0 20px;
  background: var(--gray100);
  transition: background 0.1s ease;
}

.slider-pagination .swiper-pagination-bullet {
  width: 74px;
  height: 2px;
  background: var(--gray200);
  opacity: 1;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.slider-pagination .swiper-pagination-bullet-active {
  background: var(--orange200);
}

.product-card__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-card__buy {
  margin-left: auto;
  background: var(--orange200);
  color: var(--gray0);
  border-radius: 14px;
  padding: 17px 30px;
  width: 224px;
  height: 56px;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.3s ease, background 0.2s ease;;
}

.style-disable {
  display: none;
}

.separator7 {
  margin-inline: 7px;
}

.likes__btn--active {
  background: #D43336;
}

.likes__btn--active .likes__icon,
.likes__btn--active .likes__value {
  color: var(--gray0);
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    gap: 16px;
    margin-block: 20px;
    padding: 0 16px;
  }

  .product-card {
    width: 100%;
    max-width: 508px;
    margin: 0 auto;
  }

  .product-card__title {
    font-size: 1rem;
  }

  .product-card__art,
  .modifications__title,
  .price__title,
  .price__description {
    font-size: 0.625rem;
  }

  .price__value {
    font-size: 1rem;
  }

  .slider__btn:not(.slider-btn--zoom) {
    display: none;
  }

  .product-card__buy {
    font-size: 0.875rem;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    width: 100%;
    margin-top: 16px;
    padding: 14px 20px;
    height: 48px;
  }

  .price {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-card__description {
    display: none;
  }

  .price__description-accent {
    font-size: 0.75rem;
  }

  .product-card__content {
    padding-inline: 16px;
    padding-block: 12px;
  }

  .modifications {
    margin-block: 16px;
  }

  .modifications__list {
    flex-wrap: wrap;
  }

  .modifications__btn {
    padding: 4px 10px;
    font-size: 0.75rem;
  }

  .product-card__bottom {
    margin-top: 16px;
    padding-top: 12px;
  }

  .slider-pagination .swiper-pagination-bullet {
    width: 100%;
  }

  .likes__btn {
    height: 28px;
    padding: 4px 10px;
  }

  .likes__value,
  .btn__calculation {
    font-size: 0.75rem;
  }
}

@media (hover: hover) {
  .product-card:hover {
    background: var(--gray0);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }

  .product-card:hover .slider-pagination {
    background: var(--gray0);
  }

  .product-card:hover .product-card__description {
    opacity: 1;
    max-height: 100px;
  }

  .product-card:hover .product-card__buy {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .product-card__buy:hover {
    background: #e65300;
  }

  .slider__btn:hover {
    background: rgba(255, 255, 255, 0.8);
  }

  .likes__btn:active {
    transform: scale(0.95);
  }

  .btn__calculation:hover {
    color: var(--gray600);
  }

  .modifications__btn:hover {
    background: var(--gray400);
    color: var(--gray0);
  }

  .likes__btn:hover {
    background:  #fa6b6e;
  }

  .likes__btn:hover .likes__icon,
  .likes__btn:hover .likes__value {
    color: var(--gray0);
  }
}