@font-face {
  font-family: 'SF UI Display';
  src: url('/assets/fonts/SFUIDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('/assets/fonts/SFUIDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('/assets/fonts/SFUIDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --gray600: #32312F;
  --gray500: #464646;
  --gray400: #656565;
  --gray300: #A1A5AD;
  --gray200: #E6E6E6;
  --gray100: #F6F6F6;
  --gray0: #FFFFFF;

  --orange200: #FF5C00;
}

html {
  font-size: calc(100vw / 1728 * 10);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.product-card__icon {
  font-size: 1.9rem;
}

.slider-btn--zoom .product-card__icon {
  font-size: 2.4rem;
}

.btn__calculation .product-card__icon {
  font-size: 1.2rem;
}

.likes__icon {
  font-size: 2.2rem;
}

.modifications__btn-icon {
  font-size: 1.4rem;
  color: var(--gray0);
}

body {
  margin: 0;
  font-family: SF UI Display, sans-serif;
  background: var(--gray0);
  color: var(--gray600);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  margin-block: 10rem;
}

.product-card {
  width: 100%;
  max-width: 50.8rem;
  background: var(--gray100);
  border-radius: 0.8rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.product-card {
  transition: background 0.1s ease, box-shadow 0.3s ease;
}

.product-card__content {
  margin-top: 0.6rem;
  padding-inline: 2rem;
  padding-block: 1.4rem;
  display: flex;
  flex-direction: column;
}

.product-card__art,
.modifications__title,
.price__title,
.price__description {
  color: var(--gray400);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
}

.product-card__title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 120%;
  color: var(--gray600);
  margin-top: 0.3rem;
  height: 5.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-card__description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6.1rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--gray0);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  z-index: 3;
}

.modifications {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.modifications__btn {
  border-radius: 1.8rem;
  padding: 0.6rem 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  background: var(--gray100);
  transition: background 0.2s ease;
}

.modifications__btn-active {
  background: var(--gray600);
  color: var(--gray0);
}

.modifications__icon-wrapper {
  background: var(--gray0);
  border-radius: 50%;
  padding: 0.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  transition: background-color 0.2s ease;
}

.modifications__btn-icon {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--gray0);
}

.modifications__list {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.price__container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.price__item {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.price__value {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 120%;
  color: var(--gray600);
}

.price__description-accent {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--gray600);
}

.product-card__bottom {
  border-top: 1px solid var(--gray200);
  margin-top: 2rem;
  padding-top: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-card__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.likes__value {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--gray600);
}

.likes__btn {
  height: 3.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background: var(--gray100);
  border-radius: 1.8rem;
  padding: 0.6rem 1.2rem;
  transition: background 0.3s ease;
}

.likes__icon {
  color: var(--gray300);
}

.likes,
.btn__calculation{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.btn__calculation {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--gray400);
}

.product-card__slider {
  position: relative;
  width: 100%;
  aspect-ratio: 508 / 338;
  max-height: 33.8rem;
}

.product-card__slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-36%);
  transition: background 0.2s ease;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.5rem);
  border-radius: 50%;
  width: 4.3rem;
  height: 4.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.slider-btn--prev {
  left: 1.5rem;
}

.slider-btn--next {
  right: 1.5rem;
}

.slider-btn--zoom {
  top: 1rem;
  right: 1rem;
  transform: none;
  border-radius: 0.8rem;
  padding-inline: 0.4rem;
  padding-block: 0.5rem;
  width: 3.2rem;
  height: 3.4rem;
}

.slider-pagination {
  display: flex;
  padding: 1rem 2rem 0;
  background: var(--gray100);
  transition: background 0.1s ease;
}

.slider-pagination .swiper-pagination-bullet {
  width: 7.4rem;
  height: 0.2rem;
  background: var(--gray200);
  opacity: 1;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.slider-pagination .swiper-pagination-bullet-active {
  background: var(--orange200);
}

.product-card__buy {
  margin-left: auto;
  background: var(--orange200);
  color: var(--gray0);
  border-radius: 1.4rem;
  padding: 1.7rem 3rem;
  width: 22.4rem;
  height: 5.6rem;
  font-size: 1.6rem;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.3s ease, background 0.2s ease;;
}

.style-disable {
  display: none;
}

.separator7 {
  margin-inline: 0.7rem;
}

.likes__btn-active {
  background: #D43336;
}

.likes__btn-active .likes__icon,
.likes__btn-active .likes__value {
  color: var(--gray0);
}

@media (max-width: 1200px) {
  .container {
    gap: 1.6rem;
    margin-block: 5rem;
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: calc(100vw / 375 * 10);
  }

  .container {
    grid-template-columns: 1fr;
    gap: 1.6rem;
    margin-block: 2rem;
    padding: 0 1.6rem;
  }

  .product-card {
    max-width: 100%;
  }

  .product-card__title {
    font-size: 1.6rem;
    height: 3.8rem;
  }

  .product-card__art,
  .modifications__title,
  .price__title,
  .price__description {
    font-size: 1rem;
  }

  .price__value {
    font-size: 1.6rem;
  }

  .slider__btn:not(.slider-btn--zoom) {
    display: none;
  }

  .product-card__buy {
    font-size: 1.4rem;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    width: 100%;
    margin-top: 1.6rem;
    padding: 1.4rem 2rem;
    height: 4.8rem;
  }

  .price {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-card__description {
    display: none;
  }

  .price__description-accent {
    font-size: 1.2rem;
  }

  .product-card__content {
    padding-inline: 1.6rem;
    padding-block: 1.2rem;
  }

  .modifications {
    margin-block: 1.6rem;
  }

  .modifications__list {
    flex-wrap: wrap;
  }

  .modifications__btn {
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
  }

  .product-card__bottom {
    margin-top: 1.6rem;
    padding-top: 1.2rem;
  }

  .slider-pagination .swiper-pagination-bullet {
    width: 100%;
  }

  .likes__btn {
    height: 2.8rem;
    padding: 0.4rem 1rem;
  }

  .likes__value,
  .btn__calculation {
    font-size: 1.2rem;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 10px;
  }

  .container {
    max-width: 192rem;
    margin-inline: auto;
  }
}

@media (hover: hover) {
  .product-card:hover {
    background: var(--gray0);
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);
  }

  .product-card:hover .slider-pagination {
    background: var(--gray0);
  }

  .product-card:hover .product-card__description {
    opacity: 1;
  }

  .product-card:hover .product-card__buy {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .product-card__buy:hover {
    background: #e65300;
  }

  .slider__btn:hover {
    background: rgba(255, 255, 255, 0.8);
  }

  .likes__btn:active {
    transform: scale(0.95);
  }

  .btn__calculation:hover {
    color: var(--gray600);
  }

  .modifications__btn:hover {
    background: var(--gray400);
    color: var(--gray0);
  }

  .likes__btn:hover {
    background:  #fa6b6e;
  }

  .likes__btn:hover .likes__icon,
  .likes__btn:hover .likes__value {
    color: var(--gray0);
  }

  .modifications__btn-active:hover {
    background: var(--gray600);
    color: var(--gray0);
  }

  .likes__btn-active:hover {
    background: #D43336;
  }
}

